.header-menu {
  display: flex;

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.06;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--headlines-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--secondary-color);
  }

  &__studio::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 2px;
  }
}

.header-contact {
  display: flex;
  margin-left: auto;

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.06;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--contact-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--secondary-color);
  }

  &__icon {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--secondary-color);
  }
}

.header-menu__portfolio::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 2px;
}

.header-contact {
  display: none;
}

.header-menu {
  display: none;
}

// 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  color: var(--headlines-color);

  &__color {
    color: var(--secondary-color);
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  border: none;
  background-color: transparent;
  padding: 0;

  &__svg {
    width: 40px;
    height: 40px;
    fill: #212121;
  }

  &:hover &__svg,
  &:focus &__svg {
    fill: #2196f3;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 5;
  background-color: #ffffff;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__list {
    margin-top: 48px;
    margin-left: 40px;
  }

  &__li + li {
    margin-top: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
  }

  &__link:hover,
  &__link:focus {
    color: #2196f3;
  }

  &__contacts {
    margin-top: auto;
    margin-left: 40px;
  }

  &__network {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-left: 40px;
    margin-bottom: 48px;
  }
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.header-close {
  position: absolute;
  top: 10px;
  right: 15px;

  border: none;
  background-color: transparent;
  padding: 0;

  &__svg {
    width: 40px;
    height: 40px;
    fill: #212121;
  }

  &:hover &__svg,
  &:focus &__svg {
    fill: #2196f3;
  }
}

.menu-tel {
  display: block;

  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-social-network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.li-social-network:not(:last-child) {
  padding-right: 10px;
}

.li-social-network:not(:first-child) {
  padding-left: 10px;
}

.li-social-network + li {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 399px) {
  .li-social-network:last-child {
    margin-top: 10px;
    padding-left: 0;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-menu {
    display: block;
  }

  .header-contact {
    display: block;

    &__li + li {
      margin-top: 10px;
    }
  }

  .header-menu {
    display: flex;
    margin-left: 88px;

    &__li + li {
      margin-left: 50px;
    }
  }
  .header-container > nav {
    display: flex;
    align-items: center;
  }
  .header-container {
    display: flex;
    align-items: center;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    margin-left: 93px;
  }

  .logo {
    font-size: 26px;
  }

  .header-contact {
    display: flex;
    align-items: center;

    &__link {
      font-size: 14px;
      line-height: 1.06;
      letter-spacing: 0.02em;
    }

    &__li + li {
      margin-top: 0;
      margin-left: 30px;
    }
  }

  .header-container {
    align-content: center;
  }
}
