.waw-doing {
  display: flex;

  &__li + li {
    margin-left: 30px;
  }

  &__li {
    position: relative;
  }

  &__p {
    position: absolute;
    bottom: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  &__p > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
