.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.secondary-background {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color-button);
}

.center {
  text-align: center;
}
